.bordes {
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

/* .altura-contenedor {
  height: 100vh;
} */

.contenido-principal {
  padding: 2% 5%;
}

.margen-derecho {
  margin-right: 2rem;
}

.boton-ayuda {
  color: #0dba7b;
}
