.lolcito {
    color: red;
    border: 5px solid;
}

.navbar{
    background: linear-gradient(to bottom,#37FF00, white);
}

.altura{
    height: 100vh;
}

.content img {
	vertical-align:middle;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.icon_color {
    color: white !important;
}

.icono {
    margin: 0 1em !important; 
}

.footer__icons {
    margin-right: 1em;
}

.guia {
    color: black;
}

.entrar{
    color: white !important;
    text-decoration:  none !important;
}

