/* body {
  overflow: hidden;
} */

.card__container {
  width: 90vw;
  max-width: 450px;
  height: 250px;
}

.swipe {
  position: absolute;
}

/* .card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    max-width: 260px;
    max-width: 340px;
    height: 300px;
    height: 420px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  } */

/* .card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
  } */

.buttons-container {
  justify-content: space-evenly;
  position: relative;
}

.buttons {
  margin: 13rem 35px 0;
  display: flex;
}

.buttons button:hover {
  transform: scale(1.05);
}

.buttons .MuiIconButton-root {
  background-color: white;
  padding: 1.8vw;
  margin: 0 25px;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
}

.MuiIconButton-root:hover {
  background-color: white !important;
}

.buttons__close {
  color: #ec5e6f !important;
}

.buttons__fav {
  color: #76e2b3 !important;
}

.div_info_personas {
  bottom: 15px;
  left: 30px;
  letter-spacing: 1px;
  font-weight: bolder;
  position: absolute;
}

.div_descripcion {
  height: 178px;
  overflow-y: auto;
}

.div_descripcion::-webkit-scrollbar {
  width: 3px;
}

.div_descripcion::-webkit-scrollbar-arrow {
  background-color: rgba(0, 0, 0, 0.986);
}

.div_descripcion::-webkit-scrollbar-track {
  background-color: #949390;
  border-radius: 0px;
}

.div_descripcion::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 11px;
  height: 22px;
  background: #070707;
}

.text__information {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: #a9a9a9;
  animation-name: popup;
  animation-duration: 800ms;
  padding: 2rem;

  /* Pa aumentar el height de las columnas */
  margin-bottom: 3.5rem;
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.1, 1.1);
  }
  30% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  57% {
    transform: scale(1, 1);
  }
  64% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.no-people {
  width: 100%;
  color: #212529;
  animation-name: popup;
  animation-duration: 800ms;
  padding: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  height: 70vh;
}

/* ************************ Alerta Match ******************************** */
.alert_match {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #262626, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 8vw;
  font-family: "Dynalight", cursive;
  animation: reveal 1000ms ease-in-out forwards 200ms,
    glow 2000ms linear infinite 2000ms;
  /* transform: translate(-50%, -50%); */
  /* top: 38%;
  left: 50%; */
  /* position: absolute; */
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
/* *************************************************************************** */

.filtros {
  margin-top: 1rem;
  padding-top: 0;
  height: 7.2rem;
  /* height: 3%; */
  /* border: 1px solid red; */
}

.varita {
  height: 3.5rem;
  /* height: 100px; */
  color: #a9a9a9;
}

.no-filtros > p {
  color: #a9a9a9;
  font-size: 0.8rem;
  padding: 1em;
}

/* Nueva tarjeta */

/* .center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* Tarjetas */

.card {
  /* width: 800px; */
  width: 50vw;
  /* width: 50vw; */
  height: 410px;
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  /* position: relative; */
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.user-details {
  color: #fff;
  font-family: "Montserrat";
  font-weight: bold;
  /* letter-spacing: 1px; */
}

.card .additional {
  /* display: flex;
  justify-content: center; */
  position: absolute;
  /* width: 235px; */
  width: 18.5vw;
  height: 100%;
  transition: width 0.4s;
  overflow: hidden;
  /* z-index: 1; */
}

.card.green .additional {
  background: #0dba7b;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
  z-index: 10;
}

.card .additional .user-card {
  /* width: 235px; */
  width: 18.5vw;
  height: 100%;
  /* position: relative; */
  float: left;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .user-card .level,
.card .additional .user-card .points {
  top: 15%;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.125rem 0.75rem;
  border-radius: 100px;
  white-space: nowrap;
}

.card .additional .user-card .points {
  top: 85%;
}

.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 31.5vw;
  /* width: 61%; */
  float: left;
  position: absolute;
  left: 18.5vw;
  height: 100%;
  text-align: center;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}

.card.green .additional .more-info h1 {
  color: #224c36;
}

.card .additional .coords {
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.card.green .additional .coords {
  color: #325c46;
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}

.card.green .additional .stats {
  color: #325c46;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .additional .stats div.value.infinity {
  font-size: 2.5rem;
}

.card .general {
  width: 31.2vw;
  /* width: 68%; */
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 1; */
  /* box-sizing: border-box; */
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}

.pic {
  border-radius: 100%;
  height: 190px;
  width: 190px;
}

.general p {
  text-align: justify;
  padding: 2rem;
  z-index: -1;
  /* width: 7%; */
}

/* Puntuation */

.fa-star,
.fa-star-half-alt {
  color: #ffe779;
  margin: 0 3px;
  font-size: 1.2rem;
}

.img-reseñas {
  height: 60px;
  width: 60px;
  /* z-index: 20; */
}

.reseña {
  width: 50%;
  margin: 0.8em;
}

.reseña > blockquote {
  text-align: justify;
  padding: 0.8em;
}
