/* body {
  overflow: hidden;
} */


.card__container {
  width: 90vw;
  max-width: 260px;
  height: 300px;
  margin-top: 3.2rem;

    /* position: relative; */
  }


.swipe {
    position: absolute;

  }


  .card {
    position: relative;
    background-color: #fff;
    width: 80vw;
    /* max-width: 260px; */
    max-width: 290px;
    /* height: 300px; */
    height: 320px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
    border-radius: 20px;
    background-size: cover;
    background-position: center;
  }
  
  .card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
  }

  
  .buttons-container {
    justify-content: space-evenly;
    position: relative;
  }
  
  .buttons {
    margin: 35px;
    display: flex;
  }
  
  .buttons button:hover {
    transform: scale(1.05);
  }
  
  .buttons .MuiIconButton-root {
    background-color: white;
    padding: 1.8vw;
    margin: 0 25px;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
  }
  
  .MuiIconButton-root:hover {
    background-color: white !important;
  }
 
  .buttons__close {
    color: #ec5e6f !important;
  }

  .buttons__fav {
    color: #76e2b3 !important;
  }
  


  .div_info_personas {
    bottom: 15px;
    left: 30px;
    letter-spacing: 1px;
    font-weight: bolder;
    position: absolute;
  }



  .div_descripcion {
    height: 178px;
    overflow-y: auto;
  }

  .div_descripcion::-webkit-scrollbar {
    width: 3px;
  }
  
  .div_descripcion::-webkit-scrollbar-arrow {
    background-color: rgba(0, 0, 0, 0.986);
  }
  
  .div_descripcion::-webkit-scrollbar-track {
    background-color: #949390;
    border-radius: 0px;
  }
  
  .div_descripcion::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 11px;
    height: 22px;
    background: #070707;
  }

  .info-container {
    /* justify-self: center; */
    /* align-self: center; */
  
  }

  .text__information {
    width: 100%;
    height: 28px;
    justify-content: center;
    display: flex;
    color: #212259;
    animation-name: popup;
    animation-duration: 800ms;

    /* Pa aumentar el height de las columnas */
    margin-bottom: 4rem;
  }
  
  @keyframes popup {
    0%   { transform: scale(1,1) }
    10%  { transform: scale(1.1,1.1) }
    30%  { transform: scale(.9,.9) }
    50%  { transform: scale(1,1) }
    57%  { transform: scale(1,1) }
    64%  { transform: scale(1,1) }
    100% { transform: scale(1,1) }
  }

  .no-people {
    width: 100%;
    color: #212529;
    animation-name: popup;
    animation-duration: 800ms;
    padding: 1rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
  }


  /* ************************ Alerta Match ******************************** */
.alert_match {
  background: 50% 100% / 50% 50% no-repeat
    radial-gradient(ellipse at bottom, #262626, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 8vw;
  font-family: "Dynalight", cursive;
  animation: reveal 1000ms ease-in-out forwards 200ms,
    glow 2000ms linear infinite 2000ms;
  /* transform: translate(-50%, -50%); */
  /* top: 38%;
  left: 50%; */
  /* position: absolute; */

}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
/* *************************************************************************** */