.foto_input {
    width: 0 !important;
}

.div_imagen_edit_perfil {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.imagen_persona_perfil {
    width: 65%;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
  }


.form_edit {
    text-align: center;
}

.txt-area {
    resize: none;
}


.input-edit {
    width: 100%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins;
    box-sizing: border-box; 
}