/* .shadow {
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
      -1px -1px 0 #000;
    letter-spacing: 3px;
    box-shadow: none !important;
  } */

.div_imagen_personas_matches {
  /* width: 102px;
    height: 145px; */
  transition: transform 0.2s;
  /* flex-basis: 100px; */
}

.div_imagen_personas_matches:hover {
  transform: scale(1.1);
  cursor: pointer;
  z-index: 1;
}

.imagen_personas_matches {
  /* width: 100%;
    height: 100%; */
  object-fit: cover;
}

.tarjeta-border {
  border: none;
}

.dropdown-menu {
  min-width: 6.9rem;
}

.dropdown-menu.show {
  display: flex;
  justify-content: space-between;
}

.btn-close {
  position: absolute;
  right: 1em;
}

/* .nombre {
  color: black;
} */

.text-tarjetas {
  color: black;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.match_img {
  float: left;
  margin-right: 2em;
  border-radius: 50%;
}

.match_description {
  font-style: italic;
}

.seccion {
  width: 100%;
}

.matches-ventana {
  height: 35rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #fff;
  background-color: #048f5c;
}

.nav-tabs .nav-link {
  color: #fff;
  background: #0DBA7B;
}

.nomatches {
  color:#a9a9a9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}
