.icono {
    margin: 0 1em !important; 
}
.navbar__icons {
    margin-right: 1em;
}

.icon__color {
    color: black !important;
}

.borde_inferior {
    border-bottom: 1px solid #dee2e6;
}

.brand {
    margin-left: 0.5em;
}

.navbar, .navbar-brand {
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.buscar {
    width: 20em;
}

/* .tooltip-logout {
    padding: 0 !important;
} */