.icono {
    margin: 0 1em !important; 
}
.navbar__icons {
    /* margin-right: 2em; */
}

.icon__color {
    color: black !important;
}

.borde_inferior {
    border-bottom: 1px solid #dee2e6;
}

.brand {
    margin-left: 0.5em;
}