.imagen_perfil {
    border-radius: 50%;
    border: 2px solid white;
    width: 56px;
    height: 56px;
    object-fit: cover;
    outline: none;
  }

.menu_arriba {
    height: 65px;
    width: 100%;
}
  


.links_items {
    color: #262626;
  }
  
