.imagen_perfil {
    border-radius: 50%;
    border: 2px solid white;
    width: 56px;
    height: 56px;
    object-fit: cover;
    outline: none;
    margin-right: 15px;
  }

.menu_arriba {
    height: 65px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}
  


.links_items {
    color: #262626;
  }
  
.avatar-profile {
  margin: 0.25rem 0.6rem;
}