.almost-title {
    font-weight: bold;
}

.tellus {
    font-size: 1rem;
}

.btn-questions {
    width: 5rem;
    margin: 0.8rem;
    border-radius: 20px;
}
/* 
.afirmative {
    background-color: #4DECB2;
} */